/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

package-lock.json

# OSX Specific files
.DS_Store
/__MACOXS

# Vscode Specific files
/.vscode