
.lgx-contactform {
  .form-group {
    margin-bottom: 2rem;
  }
  .form-control {
    display: block;
    text-align: left;
    width: 100%;
    height: 50px;
    padding: 1.5rem 2rem;
    font-size: 14px;
    line-height: 1.42857143;
    color: #868686;
    background-color: #f7f7f7;
    background-image: none;
    border-radius: 4px;
    box-shadow: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  textarea.form-control {
    height: 170px;
    border-radius: 4px;
  }
  .lgx-btn {
    //margin: 0 auto;
    margin-top: 1rem;
  }
}