
.footer-brand {
    position: relative;
    text-align: center !important;
    &-logo {
        height: 96px;
    }
    &-name {
        color: #fff !important;
        font-weight: 600;
        font-size: 2rem;
    }
}

.lgx-footer-black {
  .lgx-inner-footer {
    @include bg-rgba($black-color, 1);
  }
}

.lgx-social-footer {
  font-size: 26px;
  margin-left: 0;
  li {
    color: $white-color;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    transition: ease .3s;
    opacity: .7;
    margin-bottom: 5px;

    a {
      color: inherit;
      background: $white-color;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      box-shadow: 0 2px 10px rgba(52,61,71,.2);
      i {
        font-size: 24px;
        line-height: 45px;
      }
    }
    &:hover {
      background: $brand-color;
      color: $brand-color;
      border-radius: 50%;
      a {
        border-radius: 50%;
        color: inherit;
      }
    }
  }
  &:hover > li {
    color: $brand-color;
    a {
      color: inherit;
    }
    opacity: 0.3;
  }

  &:hover > li:hover {

    opacity: 1;
    a {
      background: $brand-color;
    }
  }
}

.lgx-footer-area {
  display: flex;
  overflow: hidden;
  padding: 6.8rem 0;
}



.lgx-footer-single {
  flex: 1;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  .text {
    margin-bottom: 1rem;
  }
  .lgx-btn {
    padding: 1.3rem 5rem;
  }
  p {
    color: inherit;
  }
  .logo {
    display: block;
  }
  address {
    margin-bottom: 1.5rem;
    line-height: 2.4rem;
    i {
      overflow: hidden;
      color: $brand-color;
      margin-right: 5px;
      opacity: .4;
    }
  }
  .lgx-address-info {
    li {
      line-height: 2.5rem;
    }
    i {
      color: $brand-color;
      margin-right: 1rem;
      opacity: .4;
    }
    li {
      &:hover {
        color: inherit;
      }
    }
  }
  .date {
    color: $brand-color;
    font-weight: 400;
  }
  .map-link {
    color: $white-color;
    font-weight: 400;
    i {
      position: relative;
      top: 3px;
      @include font-size(26);
      color: $brand-color;
      margin-right: 5px;
    }
    &:hover {
      color: $brand-color;
    }
  }
  .footer-title {
    font-family: $lgx-heading-font;
    @include font-size(16);
    margin-bottom: 2.4rem;
    color: $white-color;
    font-weight: 700;
    letter-spacing: .08rem;
  }
  ul {
    li {
      font-family: $lgx-heading-font;
      @include font-size(16);
      color: $footer-text;
      line-height: 3rem;
      a {
        font: inherit;
        color: inherit;
        @include transition-duration($duration: 0.3s);
      }
      &:hover {
        color: $white-color;
        a {
          color: inherit;
        }
      }
    }
  }
  .opening-time-single {
    margin-bottom: 1rem;
    font-family: $lgx-heading-font;
    span {
      font-family: $lgx-base-font;
      display: block;
      i {
        color: $brand-color;
        font-style: normal;
        font-weight: 700;
        opacity: .4;
      }
    }
  }
}

.lgx-footer-area-center .lgx-footer-single {
  text-align: center;
}


.lgx-footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, .1);
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  padding-top: 2.4rem;
  padding-bottom: 4.2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: $lgx-heading-font;
  @include font-size(14);
  
  font-weight: 400;
  p {
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: .08rem;
    span, a {
      color: $brand-color;
    }
  }
}