// Sweetalert component
.custom-swal {
    &-container {
        padding: 2rem 1rem 2rem 2rem !important;
    }
    &-popup {
        border-radius: 8px !important;
        border: 2px solid transparent !important;
        box-shadow: $grey-box-shadow;

        .swal2-icon.swal2-error, 
        .swal2-icon.swal2-question,
        .swal2-icon.swal2-warning,
        .swal2-icon.swal2-info,
        .swal2-icon.swal2-success,
        .swal2-icon.swal2-success .swal2-success-ring {
            border: none !important;
        }

        &-error {
            border-color: $red !important;

            p, .custom-swal-content {
                color: $red !important;
            }

            .swal2-icon.swal2-error [class^=swal2-x-mark-line] {
                background-color: $red !important;
            }

            .custom-swal-confirm-button {
                background-color: $red !important;
            }
        }

        &-success {
            border-color: $green !important;

            p, .custom-swal-content {
                color: $green !important;
            }

            .swal2-icon.swal2-success [class^=swal2-success-line] {
                background-color: $green !important;
            }
        }

        &-info {
            border-color: $blue !important;

            p, .custom-swal-content {
                color: $blue !important;
            }

            .swal2-icon.swal2-info {
                color: $blue;
            }
        }

        &-warning {
            border-color: $orange !important;

            p, .custom-swal-content {
                color: $orange !important;
            }

            .swal2-icon.swal2-warning {
                color: $orange !important;
            }
        }
    }
    &-header {
        padding-left: 0.6rem !important;
        padding-right: 0.2rem !important;
        font-size: 1.5rem !important;
    }
    &-content {
        padding: 0.5rem !important; 
        font-size: 1.5rem !important;
        p {
            text-align: left;
            padding: 0.25rem;
            font-weight: 500;
            letter-spacing: 0.4px;
            font-size: 1.5rem;
            font-family: inherit !important;
        }
    }
}
.custom-swal-confirm-button {
    font-size: 1.4rem !important;
}
.custom-swal-cancel-button {
    font-size: 1.2rem !important;
}