//
// user-variables.scss
// Use this to overwrite Bootstrap and Geeks variables
//
// Example of a variable override to change Geeks primary color
// Remove the "//" to comment it in and see it in action!
$primary: #2176FF;
$secondary: #212425;
$success: #38c172;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #e3342f;
$light: #e9ecef;
$dark: #212529;
$pink: #d63384;

$border-radius: .75rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 1rem;