/* text size */

.text-xs {
	font-size: 0.75rem !important;
}
.text-sm {
	font-size: 0.875rem !important;
}
.text-lg {
	font-size: 1.25rem !important;
}
.text-xl {
	font-size: 1.5rem !important;
}

.text-inherit {
    color: $dark;
}


.mdi-8px{
	font-size: .5rem;
}