
@mixin font-noline($sizeValue){
  $remValue: $sizeValue;
  $pxValue: ($sizeValue * 10);
  font-size: unquote("#{$pxValue}px");
  font-size: unquote("#{$remValue}rem");
}


@mixin font-size($font-size){
    $pxFontValue: ($font-size / 10);
    $pxLineValue: ($font-size / 10 * 1.5);
    font-size: $font-size * 1px;
    line-height: $font-size * 1.5 * 1px;
    font-size: unquote("#{$pxFontValue}rem");
    line-height: unquote("#{$pxLineValue}rem");
}


@mixin width($param){
    max-width: ($param * 100) / 12%;
}


@mixin max-width($param){
   max-width: ($param * 100) / 12%;
}


@mixin min-width($param){
    min-width: ($param * 100) / 12%;
}

