// Docs

.docs-header {
  .docs-header-btn {
    margin-top: 3px;
  }
  .navbar {
    padding: 6px 10px;
    border-bottom: 1px solid #efeef1;
    .navbar-brand {
      padding: 0px;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 16px;
          line-height: 28px;
          padding: 14px;
          margin-bottom: 0px;
          color: $gray-700;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}
.docs-nav-sidebar {
  position: fixed;
  width: 270px;
  height: 100% !important;
  top: 63px;
  overflow: auto;
  background-color: $white;
  overflow: hidden;
  z-index:22;
  border-right: 1px solid $gray-300;
  .docs-nav {
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
  }
  .navbar-nav {
    min-width: 100%;
    .nav-header{
      padding: 8px 20px;
      margin-top: 12px;
    }
      .nav-item {
        .nav-link {
          color: $gray-700;
          font-size: 14px;
          line-height: 16px;
          padding: 8px 20px;
          font-family: $font-family-sans-serif;
          &:hover {
            color: $primary;
          }
        }
        .nav-link.active {
          color: $primary;
        }
      }
    }
  }


.sidebar-nav-fixed {
  position: fixed;
  top: 3rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  margin-top: 65px;
  ul {
    list-style: none;
    padding-left: 16px;
    li {
      a {
        font-size: 14px;
        color: $gray-600;
        display: block;
        padding: 3px 12px;
        background: transparent;
        border-radius: 4px;
        line-height: 23px;
        text-decoration: none;
        &:hover {
          color: $primary;
        }
      }
      a.active {
        display: block;
        color: $primary;
        background: transparent !important;
        text-decoration: none;
      }
    }
  }
}
.doc-section-head {
  border-bottom: 1px solid #efeef1;
  min-height: 237px;
  padding: 50px;
}
.doc-section-head-text {
  font-size: 20px;
  line-height: 32px;
}
.docs-main-wrapper {
  min-height: 100%;
  position: relative;
}
.docs-wrapper {
  position: relative;
  left: 0;
  margin-left: 270px;
  min-height: 884px !important;
  background-color: $gray-100;
  top: 35px;
}
.docs-content {
  padding: 0 60px 80px 60px;
}
.docs-content-head {
  padding: 70px 0px;
}
.copy-button {
  cursor: pointer;
  border: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 6px 12px;
  color: $black;
  background-color: $white;
  position: absolute;
  top: 18px;
  right: 10px;
  border-radius: 4px;
  &:hover {
    outline: 0;
    background-color: $white;
    color: $primary;
  }
  &:focus {
    outline: 0;
    background-color: $white;
    color: $primary;
  }
  &:active {
    outline: 0;
    background-color: $white;
    color: $primary;
  }
}
.content-section {
  padding: 40px;
}

.copy-content {
  position: relative;
  margin-bottom: 30px;
}
.copy-content-height {
  overflow: auto;
  max-height: 300px;
  border-radius: 6px;
}
.bd-example-modal.modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}


.docs-footer {
  border-top: 1px solid rgba(152, 166, 173, 0.2);
  padding: 8px;
  color: $gray-700;
  background-color: $white;
  margin-left: 269px;
  border-top: 1px solid #efeef1;
  position: relative;
  bottom: -10px;
  p {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 36px;
  }
  .docs-footer-links {
    a {
      color: $gray-700;
      margin-left: 1.5rem;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      font-size: 14px;
      line-height: 18px;
      color: $black;
      text-decoration: none;

      &:hover{
        color: $primary;
      }
    }
  }
}

.docs-footer-text {
  margin-bottom: 0px;
}


@media only screen and (max-width: 991.98px) {
  .docs-nav-sidebar {

    .navbar {
      padding: 14px;
    }
    width: 100%;
    position: relative;
    top: 20px;
    right: 0px;
  }
  .docs-wrapper {
    margin-left: 0px;
  }
  .docs-footer {
    margin-left: 0px;
  }
  .nav-left-sidebar {
    .navbar-toggler {
      background-color: $white;
    }
  }
  .docs-content {
    padding: 70px 20px;
  }
}
