// Extended from bootstrap
// Links
// body
body {
    -webkit-font-smoothing: antialiased;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}